.inline-container {
    margin: 5px 5px 5px 5px;
    padding: 0px 15px 0px;
    /*border: 1px solid #aaaaaa;*/
    padding: 5px;
    display: inline-block;
}

#main-container {
    padding: 50px;
    /*
    border: 1px solid #aaaaaa;
    background-color: silver;
    background-color: crimson;
    background-color: black;
    */
}

body{
    background-color: black;
}